{% extends "base.html" %}
{% block content %}

<!-- BREADCRUMB -->
<div class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-home"></i>
    </span>
    <span class="text">Saltstack > Docs > Cheatsheet</span>
</div>
<br>
<br>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Salt Cheatsheet</h1>
</div>

<div class="row">
 <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Contents</div>
                      <div class="row no-gutters align-items-center">

                      <ul>
                      <li><a href="#user">User & Group</a></li>
                      <li><a href="#package">Package</a></li>
                      <li><a href="#service">Service</a></li>
                      <li><a href="#grains">Grains</a></li>
                      <li><a href="#pillar">Pillar</a></li>
                      <li><a href="#file">File</a></li>
                      <li><a href="#ssh">Salt SSH</a></li>
                      <li><a href="#targeting">Targeting</a></li>
                      <li><a href="#key">Key Management</a></li>
                      <li><a href="#states">States</a></li>
                      <li><a href="#jobs">Jobs & Processes</a></li>
                      <li><a href="#jinja">Jinja</a></li>
                      <li><a href="#diagnostic">Diagnostic</a></li>
                      <li><a href="#requisites">Requisites</a></li>
                      <li><a href="#debug">Debug</a></li>


            
                        
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</div>

<br>

<div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">User & Group</h6><a id="user"></a>
        </div>
        <div class="card-body">
        User actions<br>
        <code>
        user.add joe<br>
        user.delete joe<br>
        user.list_users<br>
        user.getent<br>
        user.info joe<br>
        user.list_groups joe<br>
        user.chgid joe 7400<br>
        user.rename joe joe2
        </code>
        <br><br>

        change Joe's group from Sysadmin to Support<br>
        <code>user.chgroups joe sysadmin, support true</code><br><br>

        add Joe to Sysadmins group <br>
        <code>salt min1 group.adduser sysadmins joe</code><br><br>

        change user's shell <br>
        <code>salt min1 user.chshell joe /bin/bash</code><br><br>
        
        set user's password to 'spaceballs'<br>
        step 1: generate hashed password<br>
        <code>salt min1 shadow.gen_password spaceballs<br>
        $6$nTul6WP1$E....
        </code>
        <br>
        step 2: set password<br>
        <code>salt min1 shadow.set_password joe '$6$nTul6WP1$E...'</code>
        <br><br>
        Group actions<br>
        <code>
        group.add newgroup 4500<br>
        group.delete newgroup<br>
        group.adduser sysadmins joe<br>
        group.deluser sysadmins joe<br>
        group.chgid sysadmins 4510
        </code>
        <br><br>
        return info on all groups<br>
        <code>
        group.getent<br>
        group.info sysadmins<br>
        </code>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Package</h6><a id="package"></a>
        </div>
        <div class="card-body">
        Package actions<br>
        <code>
        pkg.install apache<br>
        pkg.remove apache<br>
        pkg.purge apache<br>
        pkg.version apache<br>
        pkg.upgrade apache<br>
        pkg.upgrade_available apache<br>
        pkg.list_pkgs<br>
        pkg.list_upgrades<br>
        pkg.refresh_db
        </code>
        <br><br>

        Install Windows pkg using Choco<br>
        <code>
        salt win1 chocolatey.bootstrap<br>
        salt win1 chocolatey.install 7zip
        </code>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Service</h6><a id="service"></a>
        </div>
        <div class="card-body">
        Service actions<br>
        <code>
        service.(start, stop, restart, reload, disable, enable, status) nginx<br>
        service.get_all<br>
        service.get_disabled<br>
        service.get_enabled<br>
        service.get_running<br>
        service.get_static<br>
        </code>
        <br><br>
        get services < disabled / enabled>  from starting on boot<br>
        <code>service.disabled sfptpd</code><br><br>


        </div>
      </div>
    </div>
</div>

<!--  ROW 2  -->

<div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Grains</h6><a id="grains"></a>
        </div>
        <div class="card-body">
          show available grain types<br>
          <code>salt min1 grains.ls</code><br><br>

          show grain specifics<br>
          <code>salt min1 grains.items</code><br><br>

          show specific grain (2 ways)<br>
          <code>
          salt min1 grains.get selinux<br>
          salt min1 grains.item selinux
          </code><br><br>

          set custom Grain (custom grain data stored in /etc/salt/grains file)<br>
          <code>salt min1 grains.set 'apps:Myapp:port' 2500</code>
          <br><br>

          refresh target's Grains<br>
          <code>salt min1 saltutil.refresh_grains</code>
          <br><br>

          Use grain in a State<br>
<pre>
apache:
  pkg.installed:
  {% raw -%}
    {% if grains['os'] == 'RedHat' %}
  {% endraw -%}
    - name: httpd
</pre>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Pillar</h6><a id="pillar"></a>
        </div>
        <div class="card-body">
          get pillar items<br>
          <code>salt min1 pillar.items</code>
          <br><br>

          get specific pillar items<br>
          <code>salt min1 pillar.get users:sshkeys:joe</code>
          <br><br>

          get a Pillar value in a state file or Jinja file<br>
          (and pass a default value if no pillar is found)<br>
          <pre>
{% raw -%}
{{ salt['pillar.get']('role:name', 'default') }}
{% endraw -%}
          </pre>
          <br>
          parse a pillar in a state file<br>
          <pre>
{% raw -%}
{% for user, args in pillar.get('users',{}).iteritems() %}
{{ user }}:
  group.present:
    - gid: {{ args['uid'] }}

  user.present:
    - fullname: {{ args['fullname'] }}
    - uid: {{ args['uid'] }}
    - gid: {{ args['uid'] }}
    - shell: {{ args['shell'] }}
    - home: /home/{{ user }}
{% endfor %}
{% endraw -%}
        </pre>

      <br>
      refresh all pillar items<br>
      <code>salt min1 saltutil.refresh_pillar</code>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">File</h6><a id="file"></a>
        </div>
        <div class="card-body">
          manage contents of a file<br>
          <pre>
{% raw -%}
bind_zone:
    file.managed:
        - name: /var/named/zones/forward.bind
        - source: salt://{{ slspath }}/files/zones/forward.bind.j2
        - template: jinja
        - makedirs: True
        - user: root
        - group: root
        - mode: 655
{% endraw -%}
        </pre>
        <br>

        Check if file contains a string (true/false)<br>
        <code>salt min1 file.contains /etc/ssh/sshd_config 'Port'</code><br>

        Find a file<br>
        <code>salt min1 file.find /etc name=host\*.\*<br>
        result<br>
        - /etc/host.conf<br>
        - /etc/hosts.allow<br>
        - /etc/hosts.deny'<br>
        </code><br>

        Check if a file contains a certain regex<br>
        <code>salt min1 file.contains_regex /etc/resolv.conf "timeout.4"</code><br><br>

        Replace contents of file with new value<br>
        <code>salt min1 file.sed /etc/ssh/sshd_config 'Port 22' 'Port 2201'</code><br><br>

        manage file content in State file<br>
<pre>
/etc/fstab:
  file.line: 
    - content: "proc    /proc"
    - mode: insert
    - after
</pre>
        
        create symlink<br>
        <pre>
symlink:
  file.symlink:
    - name: /path/to/A
    - target: /symlink/path/A
        </pre>
        copy a directory from Master to minion<br>
        <pre>
admin_scripts:
    file.recurse:
        - name: /home/salt/scripts
        - source: salt://formula/admin_tools/scripts
        - makedirs: True
        - user: salt
        - group: salt
        - file_mode: 0700
        </pre>
        

        </div>
      </div>
    </div>
</div>

<!--  ROW 3  -->

<div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Salt SSH</h6><a id="ssh"></a>
        </div>
        <div class="card-body">
          configure Roster SSH file<br>
          <pre>
min1:
  host: 120.20.32.3
  user: joe
  passwd: abracadabra
  sudo: True
          </pre>
          Run command on target (and accept public key)<br>
          <code>salt-ssh -i min1 cmd.run 'uname -a'</code>
          <br><br>
          Run Salt-SSH as a non-root user<br>
          1. copy /etc/salt directory to /home/user and change permissions to user:group<br>
          <code>/home/user/salt/master<br>
          /home/user/salt/minion<br>
          /home/user/salt/minion.d<br>
          /home/user/salt/pki<br>
          /home/user/salt/roster
          </code>
          <br>
          2. configure Roster<br>
          <code>vi /home/user/salt/roster</code>
          <br>
          3. edit /home/user/salt/master, change the following paths:<br>
          <code>
          pidfile: /home/user/salt/var/run/salt-master.pid<br>
          log_file: /home/user/salt/var/log/salt/master<br>
          pki_dir: /home/user/salt/pki/master<br>
          cachedir: /home/user/salt/var/cache/salt/master
          </code>
          <br>
          4. add user's private key to Roster file<br>
          <pre>
min1:
  host: 192.168.33.1
  sudo: True
  priv: /home/user/.ssh/id_rsa
          </pre>
          5. Run salt-ssh command with -C option<br>
          <code>salt-ssh -c /home/user/salt -i min1 cmd.run 'uname -a'</code>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Targeting</h6><a id="targeting"></a>
        </div>
        <div class="card-body">
          by Grain type<br>
          <code>salt -G os:Windows cmd.run 'net stop Firewall'</code>
          <br><br>
          by Custom grains<br>
          <code>salt -G 'server_type:app and env:prod' state.highstate</code>
          <br><br>
          target ec2 instances only<br>
          <code>salt -G uuid:ec2\* test.ping</code>
          <br><br>
          compound match<br>
          <code>salt –C 'server_type:web and clo*' state.sls nginx</code>
          <br><br>
          list based match<br>
          <code>salt –L 'hostname1,hostname2,hostname3' state.sls ntp</code>
          <br><br>
          Nodegroup match<br>
          <code>salt –N ny_db_servers cmd.run 'ps –ef | grep mysql'</code>
          <br><br>
          regex OR<br>
          <code>salt -E "(nyweb|db5)" test.ping</code>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Key Management</h6><a id="key"></a>
        </div>
        <div class="card-body">
          add minion to Master<br>
          <code>salt-key -L (show pending to be accepted)<br>
          salt-key -A (accept all pending)<br>
          salt-key -a min1 (accept by hostname)
          </code>
          <br><br>
          remove inactive minions<br>
          <code>salt-run manage.down removekeys=True</code>
          <br><br>
          remove minions by name<br>
          <code>salt-key -D min1</code>
        </div>
      </div>
    </div>
</div>

<!--  ROW 4  -->

<div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">States</h6><a id="states"></a>
        </div>
        <div class="card-body">
          run Highstate<br>
          <code>salt min1 state.highstate</code>
          <br><br>

          deploy a specific state<br>
          <code>salt min1 state.apply apache.vhost</code>
          <br><br>

          run multiple states on same minion at once<br>
          <code>salt min1 state.apply apache.vhost concurrent=true</code> 
          <br><br>

          Disable a state from running on a minion<br>
          <code>salt min1 state.disable highstate</code> - disables all Highstate runs (run 'enable' to reverse it)
          <br><br>

          pass a Pillar value to a state<br>
          <code>salt min1 state.apply apache.vhost pillar='{"vhost": "mysite"}'</code>
          <br><br>

          whitelist and exclude states from Highstate<br>
          <code>
          salt min1 state.highstate whitelist=apache,ssh,users<br>
          salt min1 state.highstate exclude=apache<br>
          </code>


        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Jobs and Process Control</h6><a id="jobs"></a>
        </div>
        <div class="card-body">
            Show all Salt jobs run history<br>
            <code>salt-run jobs.list_jobs</code>
            <br><br>

            Show active Salt jobs<br>
            <code>salt-run jobs.active    // returns a Job ID</code>
            <br><br>

            Show currently running processes on a minion<br>
            <code>salt min1 saltutil.running</code>
            <br><br>
            Kill active job<br>
            <code>salt min1 saltutil.kill_job $JOB_ID<br>
            salt min1 saltutil.term_job $JOB_ID
            </code>
            <br><br>

            Clear Job cache<br>
            <code>salt min1 saltutil.clear_cache</code>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Jinja</h6><a id="jinja"></a>
        </div>
        <div class="card-body">
          For loop<br>
          <pre>
{% raw -%}
{% for usr in 'moe','larry','curly' %}
{{ usr }}:
  group:
    - present
  user:
    - present
    - gid_from_name: True
    - require:
      - group: {{ usr }}
{% endfor %}
{% endraw -%}
          </pre> 
          If Conditional<br>
          <pre>
{% raw -%}
{% if var == 2 %}
    Var is 2
{% elif var == 5 %}
    var is 5
{% else %}
    var is not 2
{% endif %}
{% endraw -%}
          </pre>
          While Loop<br>
          <pre>
{% raw -%}
{% range number from 3 to 6 %}
  {{ number }}
{% endrange %}
{% endraw -%}
          </pre>
          Comparisons<br>
          <pre>
{% raw -%}
{% if 'Watermelon' ends with 'n' %}
 It ends with N
{% endif %}

{% if varA == varB %}
{% if varA != varB %}
{% endraw -%}
        </pre>
        get shell command output as variable from inside State file<br>
        <code>{% raw -%}{% set procs = salt['cmd.run']('ps aux') %}{% endraw -%}</code>
        <br><br>
        Run state only if a file doesnt exist<br>
        <pre>
{% raw -%}
{% if not salt['file.directory_exists']('/opt/q') %}
deploy_kdb:
    file.managed:
        - name: /opt/q.tar.gz
        - source: salt://repo/q.tar.gz
extract_kdb:
    archive.extracted:
        - name: /opt/
        - source: /opt/q.tar.gz
        - user: kdb
        - group: kdb
{% endif %}
{% endraw -%}
        </pre>
        Test for File<br>
        <pre>
{% raw -%}
{% if not salt['file.file_exists']('/opt/file') %}
{% endraw -%}
        </pre>
        set a parameter<br>
        <code>{% raw -%}{% set fruit = 'apple' %}{% endraw -%}</code>
        <br><br>
        sort a list<br>
        <pre>
{% raw -%}
{% for vm in vcenter['vm_list']|sort %}
    {{ vm }}
{% endfor %}
{% endraw -%}
        </pre>
        If statement with AND & OR<br>
        <pre>
{% raw -%}      
{% if var is None and var2 == 'blah' % or val3 == 'shmaa' %}
{% endraw -%}
        </pre>
        Jinja Tricks<br>
        <pre>
{% raw -%}
convert variable uppercase / lowercase
{{ somevar | upper }}

set a default value if value doesnt exist
{{ somevar or 'default message here' }}

get total # of elements in list
{{ myList|length }}

difference
{{ [1, 2, 3] | difference([2, 3, 4]) | join(', ') }}
>> 1

avg, min, max, is_list, 
{{ [1, 2, 3] | avg }}

generate random UID
{{ 'random' | uuid }}

escape Jinja syntax
{\% raw -%}
  {{ variable that need to be escaped }}
{\% endraw -%}

regex match
{{ 'abcd' | regex_match('BC(.*)', ignorecase=True) }}
{% endraw -%}
        </pre>
        Iterate a dict<br>
        <pre>
{% raw -%}
parent_dict = [{'A':'val1','B':'val2'}]
{% for item in parent_dict %}
  {% for key,val in item.items() %}
     {{ key }} {{ val }}
  {% endfor %}
{% endfor %}
{% endraw -%}
        </pre>
        run Salt execution module from inside Template or State<br>
        <pre>
{% raw -%}
{{ salt.cmd.run('whoami') }}
{{ salt.group.add('newgroup1') }}
{% endraw -%}
        </pre>

        </div>
      </div>
    </div>
</div>

<!--  ROW 5  -->

<div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Diagnostics</h6><a id="diagnostics"></a>
        </div>
        <div class="card-body">
          check if Minion is up<br>
          <code>salt min1 test.ping</code>
          <br><br>
          Diagnostics<br>
          <code>
          salt target status.all_status // gets all info<br>
          status.cpu_info<br>
          status.cpustats<br>
          status.uptime<br>
          status.diskusage  // or disk.usage<br>
          status.loadavg<br>
          status.meminfo<br>
          status.netdev  // network device<br>
          status.netstats //network stats<br>
          status.procs<br>
          status.version //system version<br>
          status.vmstats //virtual mem stats<br>
          status.w  //who is logged in
          </code>
          <br><br>
          Show minions by state (up/down)<br>
          <code>
          salt-run manage.up<br>
          salt-run manage.down<br>
          salt-run manage.status  (show all by status)
          </code>
          <br><br>
          Show Salt versioning information<br>
          <code>salt --versions-report</code>
          <br><br>
          Restart everything on Master<br>
          <code>
          pkill salt-minion  //Kill minion<br>
          pkill salt-api<br>
          salt-run cache.clear_all   //Clear all cache<br>
          salt \* saltutil.sync_all   //Sync grains,modules,etc<br>
          salt-master -d  //Start master with daemon<br>
          salt-minion -d<br>
          salt-api -d
          </code>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Requisites</h6><a id="requisites"></a>
        </div>
        <div class="card-body">
            <h4>unless</h4>
            <pre>
vim:
  pkg.installed:
    - unless:
      - rpm -q vim-enhanced
      - ls /usr/bin/vim
            </pre>
            <h4>onlyif</h4>
            <pre>
set_RTC:
  cmd.run:
    - name: "/usr/bin/timedatectl set-local-rtc 0"
    - onlyif: "/usr/bin/timedatectl  | grep "RTC in local TZ" | grep yes"
            </pre>
            <h4>require</h4>
            <pre>
bar:
  pkg.installed:
    - require:
      - sls: foo
            </pre>
            <h4>onchanges</h4>
            <pre>
extract_package:
  archive.extracted:
    - name: /usr/local/share/myapp
    - source: /usr/local/share/myapp.tar.xz
    - archive_format: tar
    - onchanges:
      - file: Deploy server package
            </pre>
            <h4>watch</h4>
            <pre>
ntpd:
  service.running:
    - watch:
      - file: /etc/ntp.conf
            </pre>
            <h4>prereq</h4>
            <i>prereq allows for actions to be taken based on the expected results of a state that has not yet been executed. The state containing the prereq requisite is defined as the pre-requiring state. The state specified in the prereq statement is defined as the pre-required state.</i>
            <pre>
graceful-down:
  cmd.run:
    - name: service apache graceful
    - prereq:
      - file: site-code

site-code:
  file.recurse:
    - name: /opt/site_code
    - source: salt://site/code
            </pre>
            In this case the apache server will only be shutdown if the site-code state expects to deploy fresh code via the file.recurse call. The site-code deployment will only be executed if the graceful-down run completes successfully.
            <br><br>
            <h4>runas</h4>
            run a command as another user<br>
            <pre>
django:
  pip.installed:
    - name: django >= 1.6, <= 1.7
    - runas: daniel
    - require:
      - pkg: python-pip
            </pre>


        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Debug</h6><a id="debug"></a>
        </div>
        <div class="card-body">
          run Highstate with debug<br>
          <code>salt min1 state.highstate -l debug</code>
          <br><br>
          Run specific state in debug<br>
          <code>salt-call -l debug state.sls elasticsearch</code>
          <br><br>
          show highstate process (debug YAML syntax errors)<br>
          <code>salt-call state.show_highstate</code>
          <br><br>
          show specific State details<br>
          <code>salt min1 state.show_sls apache</code>
          <br><br>
          show only Changed and Failed during run<br>
          modify /etc/salt/master and /etc/salt/minion,<br>
          restart Master after change<br>
          <code>state_verbose: True<br>
          state_output: mixed
          </code>
          <br><br>
          Debug connection errors, start minion in debug<br>
          <code> salt-minion -l debug</code>
          <br><br>
          Log Jinja variables to Minion log<br>
          <code>
          {% raw -%}
          {% do salt.log.error('testing jinja logging') -%}
          {% endraw -%}
          </code>
          <br><br>
          Output variables from State file,
          <pre>
show_var:
  - test.show_notification:
  {% raw -%}
      - text:  This is my var {{ var }}
  {% endraw -%}
          </pre>
          Exit with a failure message<br>
          <pre>
fail_run:
  test.fail_without_changes:
    - name: your message here
          </pre>
          Open up Salt Ports<br>
          4505 (master to agent)<br>
          4506 (agent to master) <br>
          <br>
          add iptables rule to open up ports<br>
          <pre>
iptables -I INPUT -s MINION_SUBNET.0/24 -p tcp -m multiport --dports 4505,4506 -j accept
          </pre>

        </div>
      </div>
    </div>
</div>



{% endblock %}



